.App {
  text-align: center;
  border: 3px solid rgb(255, 0, 0);
  background-color: rgba(50, 50, 50, 0.9);
  padding: 1em;
  border-radius: 25px;
}

.App-header {
  margin-bottom: 3em;
  color: rgb(255, 0, 0);
  text-decoration: underline rgb(100, 0, 0);
  position: relative;
}
